
.sidebar__link {
    width: 100%;
    display: block;
    padding: 10px 15px;
    background-color: #ffffff;
    text-decoration: none;
    border-radius: 2px;
    color: #000;
    margin: 8px 0;
    transition: box-shadow .2s linear;
}
.sidebar__link:hover {
    box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 5px;
}
